@import '_menu.scss';
@import '_smallscreen.scss';

html {
	margin: 0;
	padding: 0;
	width: 100%;
}



header {
  background-image: url(../img/startup-593327__340.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 550px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.pdf {
	border: solid white 1px;
	margin: 0;
	margin-left:2%;
	padding: 0;
	text-align:center;
	width:10%;
}

.apdf {
	color:white;
	text-decoration:none
}

.social-logo1 {
  float: left;
  height: 50px;
  margin-left: 15%;
  margin-top: 10px;
}
.social-logo1:hover,
.social-logo1:focus {
  transform: scale(1.2);
}


.social-logo2 {
  float: left;
  height: 50px;
  margin-left: 50px;
  margin-top: 15px;
}
.social-logo2:hover,
.social-logo2:focus {
  transform: scale(1.2);
}


h1 {
	color: white;
	font-family: "Helvetica", Arial, sans-serif;
	margin-top: 0;
	padding-left: 10%;
	text-align: left;
	width: 50%;
}

.titre {
	color: white;
	font-family: "Helvetica", Arial, sans-serif;
	text-align: left;
	margin-left: 10%;
}

.portrait {
	float: left;
	width: 30%;
	margin: 0;
}

.propos {
	float: right;
	width: 70%;
}

.propos_titre {
	font-family: "Helvetica", Arial, sans-serif;
	margin-left: 20%;
	margin-top: 10%;
	text-align: center;
	width: 50%
}

.propos_p {
	font-family: "Helvetica", Arial, sans-serif;
	padding-left: 10%;
	margin-top: 5%;
	width: 90%;
}

.competence {
	float: left;
}

.competence_titre {
	font-family: "Helvetica", Arial, sans-serif;
	padding-left: 20%;
	padding-top: 5%;
}

.competence_p {
	font-family: "Helvetica", Arial, sans-serif;
	padding-left: 20%;
	width: 30%;
}

.frontend {
	border-left: solid black;
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: bold;
	margin-top: 2%;
	text-indent: 1%;
	width: 20%;
}

.backend {
	border-left: solid black;
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: bold;
	margin-top: 2%;
	text-indent: 1%;
	width: 20%;
}

.divers {
	border-left: solid black;
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: bold;
	margin-top: 2%;
	text-indent: 1%;
	width: 20%;
}

.frontend_element {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	margin-top: 2%;
	text-indent: 3%;
	width: 20%;
}

.backend_element {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	margin-top: 2%;
	text-indent: 3%;
	width: 20%;
}

.divers_element {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	margin-top: 2%;
	text-indent: 3%;
	width: 20%;
}

.trait {
	float: left;
	padding-left: 10%;
}

.projet {
	float: left;
	margin: 0;
}

.code {
	float: left;
	margin-top: 10%;
	width: 30%;
}

.projet_titre {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	padding-left: 10%;
	padding-top: 10%;
}

.projet_p {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	pading-left: -7%;
	padding-top: 15%;
}

.projet_img {
	width: 100%;
	float: left;
	}

.cv_img {
	float: left;
	width: 33.3%;
}

.wordpress {
	float: left;
	width: 33.3%;
}

.github {
	float: left;
	width: 33.2%;
}

.snip1585 {
  background-color: #000;
  color: #fff;
  display: inline-block;
  float: left;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  margin-bottom: 5%;
  max-width: 33.3%;
  min-width: 20%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 50px solid rgba(0, 0, 0, 0.5);
  border-bottom: 50px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}


.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.ee {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	margin-bottom: 2%;
	padding-left: 20%;
	padding-top: 5%;
	width: 100%;
}

.ee_titre {
	border-left: solid black;
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: bold;
	padding-left: 10%;
	margin-top: 2%;
	text-indent: 1%;
	width: 20%;
}

.etude {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	margin-top: 2%;
	text-indent: 3%;
	width: 20%;
}

.experience {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	padding-left: 10%;
	margin-top: 2%;
	text-indent: 3%;
	width: 25%;
}

.hobbie {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	margin-bottom: 2%;
	padding-left: 20%;
	padding-top: 5%;
	width: 100%;
}

.snip1585 {
  background-color: #000;
  color: #fff;
  display: inline-block;
  float: left;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  margin-bottom: 5%;
  max-width: 33.3%;
  min-width: 20%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 50px solid rgba(0, 0, 0, 0.5);
  border-bottom: 50px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}


.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.ee {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	margin-bottom: 2%;
	padding-left: 20%;
	padding-top: 5%;
	width: 100%;
}

.ee_titre {
	border-left: solid black;
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: bold;
	padding-left: 10%;
	margin-top: 2%;
	text-indent: 1%;
	width: 20%;
}

.etude {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	margin-top: 2%;
	text-indent: 3%;
	width: 20%;
}

.experience {
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	padding-left: 10%;
	margin-top: 2%;
	text-indent: 3%;
	width: 25%;
}

.contact {
	border-top: solid black;
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	padding-bottom: 2%;
	padding-left: 20%;
	padding-top: 2.5%;
	width: 100%;
}

.contact_tel {
	border-left: solid black;
	float: left;
	margin-top: 2%;
	text-indent: 1%;
	width: 20%;
}

.contact_mail {
	border-left: solid black;
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: bold;
	margin-top: 2%;
	text-indent: 1%;
	width: 20%;
}

.formulaire {
	float:left;
	
	width:90%;
}
.contact_adresse {
	border-left: solid black;
	float: left;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: bold;
	margin-top: 2%;
	text-indent: 1%;
	width: 20%;
}


.pcontact {
	font-family: "Helvetica", Arial, sans-serif;
	font-size:0.7em;
}

.phone {
	color: black;
}

.mailto {
	color: black;
}

.tel {
  height: 25px;
  float: left;
  padding-left: 5%;
  margin-top: 3%;
}
.mail {
  height: 25px;
  float: left;
  margin-left: 5%;
  margin-top: 3%;
}
.mai {
  height: 25px;
  float: left;
  padding-left: 5%;
  margin-top: 3%;
}

.placeholder {
	width: 100%;
	height:35%;
}

.placeholder1 {
	float: left;
	width: 20%;
	height: 10px;
}

.placeholder2 {
	float: left;
	width: 30%;
	height: 10px;
}

.copyright {
	float: left;
	font-size: 0.7em;
	margin-top:2%;
	text-align: center;
	width: 100%;
}

fieldset {
	float:left;
	margin-left:20%;
	margin-right:20%;
	width:40%;
}

.envoyer {
	float:left;
	margin-left:20%;
	margin-right:20%;
	width:40%;
}
